<!-- Header -->
<header id="header">
	<div class="icons">
	<img src="images/hg-logo.jpg" class="logo" />
	</div>
	<div class="content">
		<div class="inner">
			<style>p1 {color: white}
				p1 {font-family: "Times New Roman", Times, serif;}
				</style>
			<h1>MENG LUO</h1>
			<p1>"BIOSTATISTICS, STATISTICAL GENOMICS, BIOINFORMATICS"</p1>
			</div>
			</div>
	<nav>
		<ul>
			<li><a href="#intro">Intro</a></li>
			<li><a href="#work">Work</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
			<!--<li><a href="#elements">Elements</a></li>-->
			</ul>
			</nav>
	</header>
	
	
