
Explore by: <a href="/archive">Date</a> | <a href="/tags">Tags</a>
<hr class="post-list__divider">

<div class="main-post-list">

    <ol class="post-list">
	{% for post in paginator.posts %}
	<li>
            <div class="post-list__meta">
		<time datetime="{{ post.date | date: "%b %d, %Y" }}" class="post-list__meta--date date">
		    {{ post.date | date: "%b %d, %Y" }}
		</time>
		&#8226;
		<span class="post-meta__tags">
		    on {% for tag in post.tags %}
		    |
		    <a href="{{ site.baseurl }}/tags/#{{ tag }}" style="color:#ff9966">
			{{ tag }}
		    </a> {% endfor %}
		    |
			
		</span>
            </div>
            <h2 class="post-list__post-title post-title">
		<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" target="_blank" style="font-variant: normal;letter-spacing: 0px;font:inherit;color:#00bfff">
		    {{ post.title }} 
		</a>
            </h2>

            <p class="excerpt" style="text-align:justify;color:#bf4040;">{{ post.excerpt | strip_html | truncatewords:100}}</p>
	    <br>
            <span class="excerpt">
		<a href="{{ site.baseurl }}{{ post.url }}" target="_blank" style="color:#996600">{{ site.excerpt_link }}</a>
        </class>

        <hr class="post-list__divider">
	</li>
	{% endfor %}
    </ol>

    <hr class="post-list__divider">

    {% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
    {% endif %}

</div>

