<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<div id="sfcttxj2rzux16hhj12236rz8855fzez6lt"></div>
<script type="text/javascript" src="https://counter3.freecounter.ovh/private/counter.js?c=ttxj2rzux16hhj12236rz8855fzez6lt&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="visitor counter widget"><img src="https://counter3.freecounter.ovh/private/freecounterstat.php?c=ttxj2rzux16hhj12236rz8855fzez6lt" border="0" title="visitor counter widget" alt="visitor counter widget"></a></noscript>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11559730; 
var sc_invisible=1; 
var sc_security="99b66b1a"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="real time web
analytics" href="http://statcounter.com/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11559730/0/99b66b1a/1/" alt="real
time web analytics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
