<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<div id="sfcttxj2rzux16hhj12236rz8855fzez6lt"></div>
<script type="text/javascript" src="https://counter3.freecounter.ovh/private/counter.js?c=ttxj2rzux16hhj12236rz8855fzez6lt&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="visitor counter widget"><img src="https://counter3.freecounter.ovh/private/freecounterstat.php?c=ttxj2rzux16hhj12236rz8855fzez6lt" border="0" title="visitor counter widget" alt="visitor counter widget"></a></noscript>

